<nav class="navbar-header fixed-top">
  <a mat-button=""
     routerLink=""
     aria-label=""
     class=""
     tabindex="0"
     aria-disabled="false"
     routerLinkActive="active">
    Home
  </a>
  <a mat-button=""
     routerLink="/about"
     aria-label=""
     class=""
     tabindex="0"
     aria-disabled="false"
     routerLinkActive="active">
    About
  </a>
  <div class="flex-spacer"></div>
  <app-search *ngIf="isSearchVisible()"></app-search>
  <a *ngIf="isLogoutVisible()" mat-button=""
     aria-label=""
     class=""
     tabindex="0"
     aria-disabled="false"
    (click)="logout()">
    Logout
  </a>
</nav>
<router-outlet></router-outlet>

