<form [formGroup]="searchForm" (ngSubmit)="submitSearch(searchedval.value)"  class="example-form-field">
  <mat-form-field>
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.searched.errors }">
        <input id="searched" formControlName="searched" required class="example-form-field-input" matInput type="text" #searchedval>
      </p>
    <div *ngIf="isSubmitted && formControls.searched.errors" class="help-block">
      <div *ngIf="formControls.searched.errors.required">Please type a search word</div>
    </div>

  </mat-form-field>
  <button type="submit" class="example-form-field-input-button mat-focus-indicator mat-button mat-icon-button mat-button-base" mat-button>
    <span class="mat-button-wrapper"><mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon></span>
  </button>
</form>
