  :host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
 .mat-card {
    max-width: 960px;
    padding: 16px 30px 16px 30px;
  }
  .mat-card-image {
    max-width: 600px;
    padding: 20px;
    cursor: pointer;
  }
  .image-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
