
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card fxFlex="18" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let movie of receivedPopularMovies">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.release_date | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" alt="{{ movie.title }}">
      <mat-card-content>
        <p class="card-content">
          {{ movie.overview }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>




<div class="top-rated-movies" style="margin-top: 8rem">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-top: 8rem">
    <mat-card fxFlex="18" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let movie of receivedTopRatedMovies">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.release_date | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" alt="{{ movie.title }}">
      <mat-card-content>
        <p class="card-content">
          {{ movie.overview }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
