<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" style="margin-top: 8rem">
<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <a routerLink="/top-rated" routerLinkActive="active">Top Rated</a>
      </mat-card-title>
    </mat-card-header>
    <div class="image-holder">
      <a routerLink="/top-rated" routerLinkActive="active">
        <img mat-card-image src="./assets/images/gabrielesinferno.jpg" alt="Photo of a Shiba Inu">
      </a>
    </div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <a routerLink="/popular" routerLinkActive="active">Popular</a>
      </mat-card-title>
    </mat-card-header>
    <div class="image-holder">
      <a routerLink="/popular" routerLinkActive="active">
        <img mat-card-image src="./assets/images/theequalizer.jpg" alt="Photo of a Shiba Inu">
      </a>
    </div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
